body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  position: relative;
  z-index: 0;
}

.navbar {
  display: flex;
  align-items: center;
  height: 48px;
  justify-content: space-between;
  background-color: #c0c0c0;
}

.navbar-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.navbar-right {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 10px;
}

.navbar-logo {
  font-size: 120%;
  padding: 0;
  margin: 0;
  font-weight: 800;
  letter-spacing: 2px;
}

input {
  width: 100%;
  border: none;
  padding: 4px 10px;
  font-size: 100%;
  height: 32px;
}

.dicts-container {
  background-color: #025152;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.dict-container {
  height: 90vh;
  width: 520px;
  background-color: #cfd3d0;
  flex-wrap: wrap;
  padding: 0 20px;
}

.word-container {
  max-width: 100%;
}

.word-header {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.word-name {
  cursor: pointer;
  font-size: 3rem;
  margin: 0;
  transition: all ease 0.3s;
}

.wn-small {
  font-size: 1.5rem;
}

.word-phonetic {
  font-style: italic;
  font-size: 0.8rem;
  margin-left: 20px;
  letter-spacing: 2px;
}

.wp-hidden {
  display: none;
}

.bookmark-span {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ff5555;
}

.word-body {
  padding: 0;
  overflow: hidden;
  transition: height ease 0.3s;
}

.meanings-pos {
  font-weight: bold;
  font-style: italic;
  font-size: 0.75rem;
}

.meanings-body {
  padding: 0 20px;
  font-size: 0.8rem;
}

.dfs-body {
  font-size: 0.8rem;
  margin-bottom: 30px;
}

.dfs-example {
  font-size: 0.8rem;
  font-style: italic;
}

.synonyms-header {
  margin: 0 10px;
  font-size: 14px;
  font-weight: 500;
}

.synonym {
  margin: 5px 10px;
  font-size: 14px;
}

.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-text {
  opacity: 50%;
  font-size: 1.75rem;
  font-weight: 500;
}

.mobile-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  height: 100vh;
  width: 100vw;
}

.sidebar-button {
  display: none;
}

@media screen and (max-width: 480px) {
  .navbar-left {
    display: none;
  }

  .navbar-right {
    margin-right: 0;
  }

  .sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }

  input {
    width: 100%;
    margin-left: 5px;
    height: 32px;
  }

  .hide {
    display: none;
  }

  .open {
    display: block;
  }

  .mobile-container {
    padding: 0 20px 20px 20px;
    width: auto;
    height: auto;
    background: #025152;
  }

  .mobile-topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
  }
}
